:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /** colors **/
  --color-black: #000;
  --color-white: #fff;

  --color-backgroud: #F6F3EC;
  --color-primary: #B39977;
  --color-secondary: #694F36;
  --color-accent: #332518;

  --color-error: #DE0000;
  --color-warning: #FFE28B;
  --color-success: #B3E7BB;
  --color-highlight: #0090FF;

  --color-opacity-darken1: rgba(0, 0, 0, 0.12);
  --color-opacity-darken2: rgba(0, 0, 0, 0.18);

  /* Grayscale */
  --color-gray-500: #555;
  --color-gray-400: #777;
  --color-gray-300: #999;
  --color-gray-200: #CCC;
  --color-gray-100: #F0F0F0;

  --color-text: #333;

  /** font-weight */
  --font-bold: 700;
  --font-regular: 400;
  --font-thin: 100;

  /** line-height **/
  --line-hight-m: 1.5;

  /** font-size **/
  --font-xxl: clamp(4rem, 4.5vw, 6rem);
  --font-xl: clamp(2rem, 4vw, 4rem);
  --font-l: clamp(1.25rem, 1.5vw, 2rem);
  --font-m: clamp(1rem, 1.3vw, 1.25rem); 
  --font-s: clamp(0.875rem, 1.5vw, 1rem);
  --font-xs: clamp(0.75rem, 1vw, 0.875rem);

  /** border radius **/
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 20px;
  --border-radius-xl: 50%;

  /** box shadow **/
  --box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.5);

  /** space-size **/
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;
  --space-xl: 64px;
  --space-xxl: 128px;
}